<footer class="mainFooter">

  <figure class="footerLogo">
    <img class="footerLogo__img" src="https://via.placeholder.com/200">
    <h2 class="footerLogo__title">Jensen</h2>
    <h2 class="footerLogo__subtitle">Blikk</h2>
  </figure>

  <section class="contactInfo">
    <article class="contactInfo__telephone contactInfo__item">
      <img src="https://via.placeholder.com/30" alt="Telephone">
      <a class="contactInfo__text" href="tel:+4790692212">(+47) 906 92 212</a>
    </article>

    <article class="contactInfo__address contactInfo__item">
      <img src="https://via.placeholder.com/30" alt="Map pinpoint">
      <a class="contactInfo__text" href="https://goo.gl/maps/s1QosrQ2RnLHV7qU6">Klosterveien 41, 7100 Rissa</a>
    </article>

    <article class="contactInfo__address contactInfo__item">
      <img src="https://via.placeholder.com/30" alt="Envelope">
      <a class="contactInfo__text" href="mailto:post@jensenblikkas.no">post@jensenblikkas.no</a>
    </article>

    <article class="contactInfo__address contactInfo__item">
      <img src="https://via.placeholder.com/30" alt="facebook logo">
      <a class="contactInfo__text" href="https://www.facebook.com/jensenblikk">@jensenblikk</a>
    </article>
  </section>

  <section class="certificates">
    <img src="https://via.placeholder.com/50">
    <img src="https://via.placeholder.com/50">
  </section>

</footer>



{{ function('wp_footer') }}
</body>
</html>