<header class="topHeader">

    <figure class="headerLogo {{ (fn('is_front_page')) ? 'headerLogo--invisible' : 'headerLogo--noMargin' }}">
      <a href="{{ site.link }}" aria-label="Jensen Blikk forside"><img class="headerLogo__img--small" src="{{ logo_small }}" alt="Jensen Blikk logo"></a>
    </figure>
    <a class="topHeader__telephone" href="tel:+4790692212">(+47) 906 92 212</a>

    {% include 'partials/nav.twig' %}

</header>

{% include 'partials/front-page-nav.twig' %}