<header class="topHeader">

    <figure class="headerLogo {{ (fn('is_front_page')) ? 'headerLogo--invisible' : '' }}">
      <img class="headerLogo__img--small" src="{{ logo_small }}">
    </figure>
    <a class="topHeader__telephone" href="tel:+4790692212">(+47) 906 92 212</a>

    {% include 'partials/nav.twig' %}

</header>

{% include 'partials/front-page-nav.twig' %}