.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &__icon {
    margin-bottom: 1em;
  }
  &__text {
    color: #fff;
    font-family: 'Futura PT';
    font-size: 1.313em;
    text-transform: uppercase;
    text-align: center;
  }
  &__container {
    max-width: 650px;
    margin-bottom: 1em;
  }
}
