.aboutBlock {
  padding: 3em 0;
  text-align: center;
  background-color: white;
  color: $blue;
  font-size: 1em;
  font-family: "Futura PT";
  &__inner {
    display: inline-block;
  }
  &--blue {
    background-color: $blue;
    color: white;
  }
  & img {
    padding-bottom: 1em;
  }

}



@media (min-width: 992px) {
  .aboutBlock {
    padding: 2em 5em;
    font-size: 2em;
    &__inner {
      max-width: 992px;
      margin: auto;
    }
  }
}

.aboutImage {
  &__img {
    &--fullwidth {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      padding-bottom: 0;
    }
  }
}