.singlePost__container {
  margin-top: 6em;
  padding: 0 2em;
}

.singlePost__title {
  margin-bottom: 4em;
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  font-family: "Futura PT";
  font-size: 1.250em;
}

.singlePost__container p {
  margin-bottom: 3em;
  color: $blue;
  font-family: "Futura PT";
  font-size: 2em;
  text-align: center;
}