.referancePage__container {
  padding: 0 2em;
}

.referancePage__title {
  text-align: center;
  color: $blue;
  font-family: 'Futura PT';
  font-weight: 400;
  font-size: 1em;
  margin: 3em auto 1em;

  max-width: 768px;
}

@media (min-width: 992px) {
  .referancePage__title {
    font-size: 2em;
  }
}

