{% extends 'layouts/base.twig' %}

{% block content %}
  <section class="singlePost__container">
    <h2 class="singlePost__title">Referanse: {{ post.post_title }}</h2>
    <div class="content">{{ post.content }}</div>
  </section>
  <section class="singlePost__next">
    <a href="#" class="btnTrans">Neste: </a>
  </section>
{% endblock %}