{% extends "layouts/base.twig" %}

{% block content %}
<section class="center contactPage">
  <img class="contactPage__logo" src="{{ logo_vertical }}">
  <h1 class="contactPage__header">Kontakt oss</h1>
  {{ post.content }}
</section>
{% endblock %}